@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rubik', sans-serif;
}
 	
#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#title {
	display: flex;
	background-color: #00e3fc;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 30px;
	flex-direction: row;
}

#title img {
	padding-left: 15px;
	max-width: 80%;
}

#title h1 {
 	font-size: 46px;
}

#wallpaper {
	display: flex;
	flex-direction: row;
	flex: 1;
	font-weight: 200;
	background-image: url('images/wallpaper.jpg');
	background-size: cover;
	background-position: right;
	align-items: center;
	justify-content: center;
}

#uiContainer {
	display: flex;
	flex-direction: row;
	background-color: rgba(255, 255, 255, 0.9); /* A slightly transparent white */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 70%;
    margin: 40px 0px;
}

#left {
	display: flex;
	width: 30%;
	justify-content: center;
}

#addArea {
	display: flex;
	width: fit-content;
	height: fit-content;
	padding: 15px;
	justify-content: center;
	margin-top: 20px;
	font-weight: 400;
	background-color: rgba(255, 255, 255, 0.9); /* A slightly transparent white */
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#addArea label {
	display: block;
	font-size: 19px;
	margin-bottom: 10px;
}

#addButton {
	background-color: white;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#middle {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 40%;
	align-content: center;
	justify-items: center;
}

#listContainer {
	display: flex;
	background-color: #f2f2f2;
	overflow-y: auto;
 	padding: 5px;
}

#listContainer::-webkit-scrollbar {
  	width: 10px;
}

#listContainer::-webkit-scrollbar-thumb {
  	background-color: #888;
  	border-radius: 5px;
}

#listContainer::-webkit-scrollbar-track {
  	background-color: #f2f2f2;
}

#list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	width: 100%;
	margin-right: 15px;
	margin-left: 5px;
}

#list li {
	display: flex;
	margin: 2px 0px 2px;
	width: 100%;
	background-color: white;
	justify-content: space-between;
 	align-items: center;
 	padding: 3px 4px 3px;
 	font-weight: 400;
}

.liContainer {
	display: flex;
	justify-content: space-between;
 		align-items: center;
 		width: 100%;
}

.liButtons {
	text-align: right;
}

#list form {
	width: 100%
}

.itemButton {
  	display: inline-flex;
  	border: none;
  	border-radius: 2px;
  	background-color: rgba(0,0,0,0.1);
  	padding: 3px 15px 3px;
  	visibility: hidden;
  	margin: 0px 3px 0px;
}

.itemButton:hover {
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: rgba(0,0,0,0.15);
}

#list li:hover .itemButton {
  	visibility: visible;
}

.itemButton2 {
  	border: none;
  	border-radius: 2px;
  	background-color: rgba(0,0,0,0.1);
  	padding: 3px 15px 3px;
  	margin: 0px 3px 0px;
}

.save {
	display: none;
}

.cancel {
	display: none;
}

#right {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	width: 30%;
}

#right img {
	max-width: 100%;
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #00e3fc;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	flex-shrink: 0;
}

/* Mobile Styles */
@media only screen and (max-width: 1066px) {
	
	#title {
	  flex-direction: column;
	  padding: 10px 0px;
	}
	
	#title img {
		margin: auto;
		padding: 0px;
		max-height: 20%;
	}
	
	#title h1 {
		text-align: center;
		align-content: center;
		padding: 10px 0px;
	}
	
	#uiContainer {
		flex-direction: column;
		align-items: center;
	}
	
	#left, #middle, #right {
		width: 80%;
	}

}


